{% macro add_rule(rule, dryrun, script) %}
rule {{ rule.rule_id }}:
    input:
        {% for key, value in rule.input.items() %}
        {{ key }}={{ value }},
        {% endfor %}
    {% if rule.params or (script and rule.rule_id != rule.method_name) %}
    params:
        {% if script and rule.rule_id != rule.method_name %}
        _method_name="{{ rule.method_name }}",
        {% endif %}
        {% for key, value in rule.params.items() %}
        {{ key }}={{ value }},
        {% endfor %}
    {% endif %}
    output:
        {% for key, value in rule.output.items() %}
        {{ key }}={{ value }},
        {% endfor %}
    {% if script %}
    script:
        "{{ script }}"
    {% else %}
    shell:
        """
        hydroflows method {{ rule.method_name }} \
        {% for key, value in rule.shell_args.items() %}
        {{ key }}="{{ '{' }}{{ value }}{{ '}' }}" \
        {% endfor %}
        {% if dryrun %}
        --dryrun \
        {% endif %}
        """
    {% endif %}
{% endmacro %}
