{% from "macros.cwl.jinja" import add_step, workflow_outputs%}
cwlVersion: v1.2
class: Workflow

requirements:
    ScatterFeatureRequirement: {}

inputs:
    {% for key,value in inputs.items()%}
    {{key}}: {{value.type}}
    {% endfor %}

outputs:
{% for rule in rules %}
{% with rule=rule %}
{{ workflow_outputs(rule) -}}
{% endwith %}
{% endfor %}

steps:
{% for rule in rules%}
{% with rule=rule %}
{{ add_step(rule, dryrun) -}}
{% endwith %}
{% endfor %}